#landing{
    text-align: center;
background-image: url(../images/landss.jpeg);
font-size: xx-large;
color: white;
padding-top: 15%;
padding-bottom: 25%;
font-style: italic;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav{
    background-color: black;
    top:0;
    width:30%;
    position: fixed;
}
nav ul{ 
    display: inline-block;
    color: beige;
    font-size: xx-large;
}
nav ul li {line-height: 0em;
    display: inline-block;
    margin: 30px;
}
body{
    font-size: xx-large;
}
#fonts{
    text-align: center;
}
#welcome{
    text-align: center;
}
.button{
    background-color: skyblue;
    padding-top: 34px;
    padding-bottom: 34px;
    padding-right: 44px;
    padding-left: 44px;
    border-style: ridge;
    animation: bounce 2s infinite;
}
  .row1{
      display: flex;
}
  .menu-overlay{
      text-align: center;
      background-color: black;
      color: white;
      padding-bottom: 5%;
      padding-top: 10px;
    }
    .button1{
        background-color: green;
        padding-left: 45px;
        padding-right: 45px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .row2{
        width: 100%;
        display: block;
    }
    .col2{
        width: 100%;
        display: inline-block;
        font-size: medium;
    }
    #container{
        margin: auto;
    }
    .choices{
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: x-large; 
        border: 2px solid red;
        background-color: black;
        color: white;
        font-style: italic;

    }
    #row3{
        text-align: center;
    }
    .choices2{
    width: 60%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: x-large;
    background-color: black;
    color: red;
    }
    
#title{
    font-size: large;
}
#summary{
    font-size: medium;
}
h1{
    font-size: large;
}
.click-me, button[type=submit], .deliver, .delivernot {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 2px;
    background-color: #ffbf00;
    outline: none;
    padding: 12.5px 13px;
    border: none;
    border-radius: 33px;
    font-size: 14px;
}
.contact-overlay {
    height: inherit;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
}
.order-summary h1, .summary, .contact {
    color: #000;
    font-family: 'Love Ya Like A Sister', cursive;
    margin-top: 30px;
}
input[type="email"] {
    background: transparent;
    border: 1px solid #ffffff;
    padding: .8em .7em;
    border-radius: 20px;
    outline: none !important;
    font-size: 14px;
}